doctype 5
html(lang="en")
	head
		title pageTitle
	body
		//- script(src='/jquery.js')
		script(src='js/lib/three.min.js')
		script(src='js/lib/TrackballControls.js')
		script(src='js/lib/CSS3DRenderer.js')
		script(src='js/lib/tweenlite/TweenLite.min.js')
		script(src='js/lib/tweenlite/easing/EasePack.min.js')
		script(src='js/main.js')